In [7]:
import pandas as pd
import numpy as np
from sklearn import metrics

from sklearn.model_selection import train_test_split

from sklearn.ensemble import RandomForestClassifier

In [8]:
model=RandomForestClassifier()

In [9]:
data = pd.read_csv('D:\loans\loanssystem\machinlearning\LoanApprovalPrediction.csv')

In [10]:
data.describe()

,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,586.000000,598.000000,598.000000,577.000000,584.000000,549.000000
mean,0.755973,5292.252508,1631.499866,144.968804,341.917808,0.843352
std,1.007751,5807.265364,2953.315785,82.704182,65.205994,0.363800
min,0.000000,150.000000,0.000000,9.000000,12.000000,0.000000
25%,0.000000,2877.500000,0.000000,100.000000,360.000000,1.000000
50%,0.000000,3806.000000,1211.500000,127.000000,360.000000,1.000000
75%,1.750000,5746.000000,2324.000000,167.000000,360.000000,1.000000
max,3.000000,81000.000000,41667.000000,650.000000,480.000000,1.000000

In [11]:
data.shape

(598, 13)

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 598 entries, 0 to 597
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            598 non-null    object
 1   Gender             598 non-null    object
 2   Married            598 non-null    object
 3   Dependents         586 non-null    float64
 4   Education          598 non-null    object
 5   Self_Employed      598 non-null    object
 6   ApplicantIncome    598 non-null    int64
 7   CoapplicantIncome  598 non-null    float64
 8   LoanAmount         577 non-null    float64
 9   Loan_Amount_Term   584 non-null    float64
 10  Credit_History     549 non-null    float64
 11  Property_Area      598 non-null    object
 12  Loan_Status        598 non-null    object
dtypes: float64(5), int64(1), object(7)
memory usage: 60.9+ KB

In [13]:
data.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents           12
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           21
Loan_Amount_Term     14
Credit_History       49
Property_Area         0
Loan_Status           0
dtype: int64

In [14]:
data.duplicated().sum()

0

In [15]:
from sklearn import preprocessing

In [16]:
z = (data.dtypes=="object")
print("Categorical variables:",len(list(z[z].index)))

Categorical variables: 7

In [17]:
c=data.select_dtypes(include='object').columns
len(c)

7

In [18]:
label_encoder = preprocessing.LabelEncoder() 
for i in c:
    data[i] =label_encoder.fit_transform(data[i])

In [19]:
data.drop(['Loan_ID'],axis=1,inplace=True)

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 598 entries, 0 to 597
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             598 non-null    int32
 1   Married            598 non-null    int32
 2   Dependents         586 non-null    float64
 3   Education          598 non-null    int32
 4   Self_Employed      598 non-null    int32
 5   ApplicantIncome    598 non-null    int64
 6   CoapplicantIncome  598 non-null    float64
 7   LoanAmount         577 non-null    float64
 8   Loan_Amount_Term   584 non-null    float64
 9   Credit_History     549 non-null    float64
 10  Property_Area      598 non-null    int32
 11  Loan_Status        598 non-null    int32
dtypes: float64(5), int32(6), int64(1)
memory usage: 42.2 KB

In [21]:
for i in ['LoanAmount','Loan_Amount_Term','Dependents','Credit_History']:
    data[i].fillna(data[i].mean(),inplace=True)

In [22]:
data.isnull().sum()

Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [23]:
X=data.drop('Loan_Status',axis='columns')
Y=data["Loan_Status"]

In [24]:
X.shape

(598, 11)

In [25]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=42)

In [26]:
model.fit(X_train,Y_train)

RandomForestClassifier()

In [27]:
Y_pred = model.predict(X_test)

In [28]:
Y_pred.shape,X_train.shape,Y_train.shape,X_test.shape

((180,), (418, 11), (418,), (180, 11))

In [29]:
from sklearn.metrics import accuracy_score

In [30]:
score = accuracy_score(Y_pred,Y_test)
print(score)

0.7944444444444444

In [31]:
from joblib import dump

In [32]:
dump(model,'./../savemodel/model.joblib')

['./../savemodel/model.joblib']

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 598 entries, 0 to 597
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             598 non-null    int32
 1   Married            598 non-null    int32
 2   Dependents         598 non-null    float64
 3   Education          598 non-null    int32
 4   Self_Employed      598 non-null    int32
 5   ApplicantIncome    598 non-null    int64
 6   CoapplicantIncome  598 non-null    float64
 7   LoanAmount         598 non-null    float64
 8   Loan_Amount_Term   598 non-null    float64
 9   Credit_History     598 non-null    float64
 10  Property_Area      598 non-null    int32
 11  Loan_Status        598 non-null    int32
dtypes: float64(5), int32(6), int64(1)
memory usage: 42.2 KB